@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*{
  padding:0;
  margin: 0;
  text-decoration:none;
  box-sizing: borde-box;
}

nav{
  background: black;
  height: 40vh;
  width: 100%;
}

li, a{
  font-family: 'Roboto', sans-serif;
  font-size: 16vw;
  color: white  
}

.logo {
  display:inline-block;
  float: left;
  padding: 15vh;
  margin-left: 6vh
}

.menu_izq li {
  display:inline-block;
  float: left;
  padding: 15vh;
  margin-left: -10vh
}

.menu_der li {
  display:inline-block;
  float: right;
  padding: 15vh;
  margin-right: -6vh ;
}

nav a{
  padding-right: 5vh; 
}

nav a:hover{
  color:grey;
  font-weight: 500;
	transition-duration: 0.3s;
}

