@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*{
  box-sizing: borde-box;
  padding:0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

header{
  margin: 1vh;
  border: 1vh;
  padding: 0%;
  width: auto;
  height: 16vh;
  background: black;
}

.logo {
  width: 16vh;
  padding-top: 2vh;
  margin-left: auto;
  float: left;
}

a {
  align-items: center;
  justify-content: center;
  font-size: 1.2vw;
  color: white; 
  font-family: 'Roboto', sans-serif;
  position: relative;

}

.menu_izq li {
  padding:0 10px;	
  float: left;
  padding-top: 6vh;
}

.menu_der li {
  padding:0 10px;	
  float: right;
  padding-top: 6vh;
  margin-right: 1vh;
}

.figuras{
  width: 5vh;
  padding-top:6vh;
  margin-right: 3vh;
  float: right;
}

.figuras2{
  width: 5vh;
  padding-top:6vh;
  margin-right: 3vh;
  float: right;
}

a:hover{
  color:rgb(211, 151, 22);
  font-weight: 500;
	transition-duration: 0.3s;
}


.box{
  margin: 0vh;
  top: 0;
  left: 0;
  width: 100%;
  height: 88vh;
  background-color: black;
  overflow: hidden;
}

video{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-p{
  font-family: 'Roboto', sans-serif;
  color: white;
  padding-left: 5vh;
  padding-top:5%;
  mask-position: 60%;
  line-height: 2vh;
  text-align: left;
  width: 100%;
  height: 88vh;
}
h2{
  padding: 4vh;
  line-height: 10vh;
}

article{
 margin: auto;
 padding: auto;
}
footer{
  margin: auto;
 padding: auto;
}